.card-content {
  background-color: white;
  padding: 10px;
  border: 1px solid #d4d4d6a6;
  border-radius: 5px;
}

.card {
  flex-direction: row;
  margin: 10% auto;
  padding: 10px;
  max-width: 550px;
}
